<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.7.0.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success">
        <div class="container-fluid">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Product", "Index", "Products", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        @RenderBody()
    </div>
    <footer class="container-fluid">
        <p class="text-center">&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    <script src="~/Scripts/bootstrap.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(() => {
            $(".crBtn").click((e) => {
                e.preventDefault();
                $.ajax({
                    url: "/Products/Create",
                    type: "get",
                    success: (d) => {
                        $(".macon").html(d);
                        $(".mcon").show();
                    }
                });
            });

            $(".edBtn").click((e) => {
                e.preventDefault();
                var id = $(e.currentTarget).data("id");
                $.ajax({
                    url: "/Products/Edit/" + id,
                    type: "get",
                    success: (d) => {
                        $(".macon").html(d);
                        $(".mcon").show();
                    }
                });
            });


            $(document).on("click", ".remove", (e) => {
                e.preventDefault();
                $(e.currentTarget).closest(".rc").remove();
            })

            $(".clbtn").click(() => {
                $(".mcon").hide();
                $(".pcon").show();
            })
            
        })

    </script>
</body>
</html>
